{% extends "punia_website/templates/base.html" %}
{% from "punia_website/templates/includes/macros.html" import hero %}
{% block title %} About Digital Prizm {% endblock %}

{% block content %}
	<section class='hero text-center' style="padding-bottom: 0;">
		<div class='text-center'>
			<img class="main-illustration" src='/assets/punia_website/img/p-logo.png'
				style='width: 180px;'>
		</div>
		<h1 class="hero-title"> Digital Prizm </h1>
		<p class='lead'>Integrated Online System For SMEs</p>
	</section>
	<div class="version-5-features text-center">
		<div class="erp-feature">
			<h1 class="feature-title h2">What is Digital Prizm?</h1>
			<p class="padding text-justify col-sm-10 col-sm-offset-1">
        Digital Prizm is an integrated SME guidance medium that guides SMEs to perform SME process up the class, ranging from doing Data Recording, Transaction Management and Business Process Management conducted offline to online.
				<br><br>
        Digital Prizm supports SME business management, among others:
				<br>
        - Recording Data and Transactions.<br>
        - Managing Business Processes Like Sales Process, Purchase Process and Inventory Process.<br>
        - Including Managing Employees and Making Financial Statements.<br>
        - With complete and flexible reporting and analysis features, SMEs can at any time make reports and perform the best analysis for their business development.
				<br><br>
        Digital Prizm also comes with a website maker and an online store that will make it easier for SMEs to start online marketing.
				<br><br>
        If you do not want to use this online store feature,Digtal Prizm integrates with multiple marketplaces so that SMBs can still manage their sales through the Punia Marketplace.
				<br><br>
        Despite its complete features, Digital Prizm can be used partially and gradually in accordance with the needs and capabilities of SMEs. This makes it easier for SMEs to apply technology according to their current business scale.
      </p>
			<img class="img-responsive feature-image screenshot" src="/assets/punia_website/images/version-10/agri_desk.png">
		</div>

		<div class="erp-feature">
			<p class="narrow p padding">Digital Prizm has a complete and integrated operational support system. The existing features will make it easier for SMEs to monitor the operational and business development of their business online and on time.</p>
      <p class="narrow p padding">Where in the end this will facilitate the making of operational and financial reports at the end of each period or at any time when necessary.</p>
		</div>

		<div class="erp-feature">
			<h1 class="feature-title h2">Operational</h1>
			<p class="narrow p padding">Digital Prizm supports the entire SME business process chain from starting production, purchasing, sales, to finance and marketing through online stores.
</p>
			<img class="img-responsive feature-image screenshot" src="/assets/punia_website/images/version-10/uae-ksa-vat.jpg">
		</div>

		<div class="erp-feature">
			<h1 class="feature-title h2">Coaching</h1>
			<p class="narrow p padding">Structured coaching is the key to SME development. Punia supports a structured coaching program through a systematic and measurable training module</p>
			<img class="img-responsive feature-image screenshot" src="/assets/punia_website/images/version-10/payment-terms.jpg">
		</div>

		<div class="erp-feature">
			<h1 class="feature-title h2">Monitoring</h1>
			<p class="narrow p padding">SME managers can know the condition of their business and make the process of making and approval of documents at any time through computers and smartphones. In addition, the coordinator / coach can monitor through the coaching dashboard.</p>
			<img class="img-responsive feature-image screenshot" src="/assets/punia_website/images/version-10/employee-advance.jpg">
		</div>


		<div class = "erp-feature">
			<h1 class = "feature-title h2"> Coordinator </h1>
			<p class = "narrow p padding"> By utilizing the coordinator or builder, SME development can be done in a monitoring without having to open the data of each SME. </p>
			<img class = "img-responsive feature-image screenshot" src = "/ assets / punia_website / images / version-10 / data-import-tool-new.png">
		</div>


		<div class = "erp-feature">
			<h1 class = "feature-title h2"> Flexible </h1>
			<p class = "narrow p padding"> SMEs can use Punia from the start with sufficient standard settings, and as business growth can develop on their own through customization. </p>
			<img class = "img-responsive feature-image screenshot" src = "/ assets / punia_website / images / version-10 / data-import-tool-new.png">
		</div>


		<div class = "erp-feature">
			<h1 class = "feature-title h2"> Staged </h1>
			<p class = "narrow p padding"> By applying technology adoption method, Punia can be used partially and gradually without needing to fill all the features at once from the very beginning. </p>
			<img class = "img-responsive feature-image screenshot" src = "/ assets / punia_website / images / version-10 / data-import-tool-new.png">
		</div>

		<div class = "erp-feature">
			<h1 class = "feature-title h2"> e-Commerce </h1>
			<p class = "narrow p padding"> Want to sell online? It does not matter because Punia supports creating their own online stores as well as integration with third-party marketplaces. </P>
			<img class = "img-responsive feature-image screenshot" src = "/ assets / punia_website / images / version-10 / data-import-tool-new.png">
		</div>
	</div>

	<div class="row section support-plans-section">
	    <div class="col-sm-4 small-content support-plans" style="text-align: left;">
			<div>
				<h4> Account Number </h4>
				<p> You can now set up your Bank Account Number in the Chart of Accounts. </p>
			</div>

			<div>
				<h4> Item Variants Update </h4>
				<p> A new quick entry dialogue makes it easier to create Items Variants from a single screen. </p>
			</div>

			<div>
				<h4> Updated POS </h4>
				<p> A single POS profile can be assigned to multiple users. </p>
			</div>
	    </div>

	    <div class="col-sm-4 small-content support-plans" style="text-align: left;">
			<div>
				<h4>Payroll Entry</h4>
				<p>Payroll Entry lets you maintain records for each Payroll Entry. The Payroll Process Toll is deprecated.</p>
			</div>

			<div>
				<h4>Employee Tree</h4>
				<p>Employee doctype now has a tree view so that you can createyour organization's chart based on it.</p>
			</div>

			<div>
				<h4>Asset Maintenance</h4>
				<p>Maintain records of Asset maintenance and repair.</p>
			</div>
	    </div>

	    <div class="col-sm-4 small-content support-plans" style="text-align: left;">
			<div>
				<h4>Task Tree</h4>
				<p>Task tree view will help you show all interrelated tasks especially in a project.</p>
			</div>

			<div>
				<h4>Shipping Rules</h4>
				<p>Shipping Rule is now available in Buying cycle and applied based on Net Weight / Fixed Amount / Net Total</p>
			</div>

			<div>
				<h4>Delivery Trip</h4>
				<p>Track each of your delivery trips with their associated stops and timings.</p>
			</div>
	    </div>
	</div>

  <div>
    <p class="mar-t-50 mar-b-50 text-center">
      <a class="x-large blue-btn button later" href="/pricing" style="font-size: 20px;">Try Free for 14 Days</a>
    </p>
  </div>
{% endblock %}
