<footer>
  <div class="container">
    <div class="clearfix">
            <div class="col-sm-3 col-xs-6">
               <!--  <ul class="list-unstyled footer-list">
                    <li><a href="/manfaat">Manfaat Punia</a></li>
                    <li><a href="/5tahap">5 Tahap Punia</a></li>
                    <li><a href="/about">Tentang Punia</a></li>
                </ul> -->
            </div>
            <div class="col-sm-3 col-xs-6">
             <!--    <ul class="list-unstyled footer-list">
                    <li><a href="/blog">Artikel</a></li>
                    <li><a href="/forum">Forum</a></li>
                    <li><a href="/contact">Hubungi Kami</a></li>
                </ul> -->
            </div>
            <div class="col-sm-3 col-xs-6">
               <!--  <ul class="list-unstyled footer-list">
                    <li><a href="/pricing">Registration</a></li>
                    <li><a href="/s&k">Syarat & Ketentuan</a></li>
                    <li><a href="/privasi">Kebijakan Privasi</a></li>
                </ul> -->
            </div>
            <div class="col-sm-3 col-xs-6">
              <!--   <ul class="list-unstyled footer-list">
                    <li><a href="https://twitter.com/punia" target="_blank">Twitter</a></li>
                    <li><a href="https://www.facebook.com/punia/" target="_blank">Facebook</a></li>
                    <li><a href="https://instagram.com/punia/" target="_blank">Instagram</a></li>
                    <li><a href="https://linkedin.com/punia/" target="_blank">LinkedIn</a></li>
                    <li><a href="https://youtube.com/punia/" target="_blank">YouTube</a></li>
                </ul> -->
            </div>

    </div>
    <!-- <div class="social">
                <p>Temui kami di
					<a class="underline" href="https://twitter.com/punia"
						target="_blank"> Twitter</a>,
					<a class="underline" href="https://www.facebook.com/punia/"
						target="_blank"> Facebook</a>,
					<a class="underline" href="https://instagram.com/punia/"
						target="_blank"> Instagram</a>,
          <a class="underline" href="https://youtube.com/punia/"
  					target="_blank"> YouTube</a>
                </p>
    </div> -->
  </div>

  <div class="footer-alamat">
    <div class="copyright">
       <!--  <p>&copy;<span id="year"></span> <br class="visible-xs">Digital Prizm Privided by<br class="visible-xs"> Integria Nusa Cendekia.</p> -->
    </div>
    <span class="alamat">
      70 Duxton Road <br class="visible-xs">Singapore 089529<br>
        <span class="hidden-xs">|</span> 
      Email: <a href="email:contact@digitalprizm.net">contact@digitalprizm.net</a>  <span class="hidden-xs">|</span>  <br class="visible-xs">  Web: <a href="www.digitalprizm.net">www.digitalprizm.net</a>
    </span>
  </div>
</footer>
    <!--Javascript-->
    <script src="/assets/punia_website/js/main.js"></script>
